@import url("https://fonts.googleapis.com/css?family=Expletus+Sans|Lato");

$white: #ffffff;
$black: #000000;
$gray: #777777;

$primary-font: "Lato", sans-serif;
$secondary-font: "Expletus Sans", cursive;
